<mat-toolbar style="background: #000000; color: #ffffff; cursor: pointer;" class="mat-elevation-z6">
  <img  src="../../assets/deloitte_1.PNG" style="margin-right: 15px; width:140px; height:40px; cursor: pointer;" routerLink="/main">
  <div style="margin: 0 20px 0 0; border: 1px solid #ffffff; height: 15px" ></div>
  <img  src="../../assets/argus_logo.png" style="margin-right: 15px; width:84px; height:44px; cursor: pointer;" routerLink="/main">
  <!-- <p style="margin-right: 30px; font-size: 24px;" routerLink="/main">Argus</p> -->
  <button mat-button routerLink="/main">Training Phase</button>
  <button mat-button routerLink="/view"><div>Run <span class="run-space">(Testing Phase)</span></div></button>
  <button mat-button >Output</button>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

</mat-toolbar>